@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Quicksand:wght@300;400;600&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
	background-color:white;
	border:0;
	font: normal 1em 'Quicksand', sans-serif;
	color:#505050;
	line-height:1.4em;
}

a {
	color: #f27347;
	text-decoration:none;
	outline:none;
	transition: color 0.5s;
}

a:hover {
	color:black;
}

h1, h2, h3, h4 {
	font-family: 'Dosis', 'Tahoma', sans-serif;
}

h3 {
	font-weight: 500;
}

.main {
	margin:0 auto;
	width: 75%;
    min-width: 600px;
    text-align: justify;
    padding-bottom: 50px;
}


#logo{
	height: 80%;
	margin-right: 5%;
}

#logo img{
	height: 100%;
}

.navbar {
	z-index: 1;
    height: 15%;
    min-height: 100px;
    min-width: 700px;
    font-family: 'Dosis', 'Tahoma', sans-serif;
    box-shadow: 0px -20px 20px 10px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
	padding: 0 20px;
    text-decoration: none;
}

#menu {
	display: flex;
    align-items: center;
}

.dropdown .dropbtn {
	font-size: 25px;
    color: #f27347;
    border: none;
    outline: none;
    margin: 0px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: 500;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	#background-color: red;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 20%);
	z-index: 1;
	border-radius: 0 0 10px 10px;
}

.dropdown-content a {
	float: none;
	color: #f27347;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: medium;
    font-weight: 500;
}

.dropdown-content a:hover {
	#background-color: white;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.non-link{
	color: white;
    background-color: #bf5700;
    border-radius: 10px;
}

.people-card, .research-card, .tool-card {
	display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.people-card, .tool-card {
	border-top: dashed 1px #ddd;
	padding: 1em 0;
}


.people-photo, .research-photo, .tool-photo {
	margin: 0 20px 0 5px;
	border: solid 4px white;
	box-shadow: 0px 0px 5px 1px #bbb;
}

.research-photo {
	width: 20%;
}

.tool-photo {
	width: 15%;
}

.people-photo {
	width: 13%;
	border-radius: 50%;
}

.people-name,
.people-email,
.people-dept,
.people-link,
.research-name,
.research-drop,
.tool-name,
.tool-link{
	font: normal 1em 'Dosis', 'Tahoma', sans-serif;
	text-align: left;
}

.people-name, .tool-name{
	font-size: 1.8em;
    font-weight: 500;
}

.people-email {
	margin-left: 10px;
	font-size: 1.3em;
}

.people-dept, .people-lab, .tool-link {
	font-size: 1.3em;
}

.people-desc, .tool-desc{
	margin: 15px 0;
}

.research-card {
	margin: 10px 0 0 0;
}

.research-name {
    font-weight: 500;
    font-size: 1.4em;
}

.research-photo, .tool-photo {
	border-radius: 0 15px;
}

.research-desc{
	margin-top: 10px;
	overflow: hidden;
}

.people-link {
	font-size: 1.3em;
}

.tool-card {
	border-top: dashed 1px #ddd;
}

.page-title {
	font-size: 2.5em;
    line-height: 1em;
    padding: .5em 0;
    font-family: 'Dosis', 'Tahoma', sans-serif;
    font-weight: 500;
    text-shadow: 0 1px 3px #bbb;
}

.page-heading {
	font-size: 2em;
	line-height: 2em;
	margin-top:  .5em;
	font-family: 'Dosis', 'Tahoma', sans-serif;
	font-weight: 500;
}

#content {
    text-align: justify;
}

@media only screen and (max-device-width: 700px) {

.navbar {
	flex-direction: column;
	height:  auto;
	width: 100%;
}

.navbar a {
	font-size: 4em;
    line-height: 1.5em;
}

#logo {
	width:  90%;
	margin-right: 0;
	margin-bottom:  20px;
}

#menu {
    justify-content: space-evenly;
    width: 100%;
}

.dropdown .dropbtn {
	font-size: 4em;
}

.dropdown-content a {
	font-size: 3em;
    line-height: 1.5em;
}

.main {
	width:  auto;
	margin:  20px;
	text-align: left;
	font-size: 2em;
}

.page-title {
	font-size: 5em;
}

.page-heading {
    font-size: 4em;
}

.people-card, .research-card, .tool-card {
    flex-direction: column;
}

.people-card {
	align-items: center;
}

.people-photo, .research-photo, .tool-photo {
    margin: 0 0 2em 0;
}

.people-photo {
    width: 50%;
}

.research-photo, .tool-photo {
	width: 100%;
}

.people-name, .tool-name {
    font-size: 4em;
}

.people-email {
	margin-left: 0;
}

.people-dept, .people-lab, .tool-link {
    font-size: 1.7em;
}

.people-card, .tool-card {
    padding: 3em 0;
    border-top: dotted 5px #ddd;
}

}