.box {
	display: flex;
	flex-flow: column;
	height: 100%;
	flex: 0 1 auto;
}

.box .home-splash {
	flex: 1 1 auto;
}

.home-splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#bg_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  animation: appear 2s 1s linear backwards;
}

.home-slogan {
    padding: 10px;
    font: 500 3em 'Dosis', 'Tahoma', sans-serif;
    line-height: 1em;
    color: #f27347;
    background-color: rgb(255 255 255 / 50%);
    text-shadow: 0 0px 5px #f5b0dc;
    margin: 0 auto;
    border-radius: 20px 0;
    box-shadow: 0px 0px 50px 50px rgb(255 255 255 / 50%);
}

.navbar {
	box-shadow: 0px 0px 50px 50px rgb(255 255 255 / 80%);
    background-color: rgba(255,255,255,.8);
    #animation: appear 7s 1s ease-in-out backwards;
}

.dropdown-content {
    background-color: transparent;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5));
    box-shadow: none;
}

@media only screen and (max-device-width: 700px) {

    #bg_video {
        display: none;
    }

    .navbar {
        #box-shadow: 0px -20px 20px 10px rgb(218 129 187);
    }


    body {
        background-image: url(../images/neuron_animation.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-slogan {
        #background-color: rgb(255 255 255 / 80%);
        #box-shadow: 0 0 20px 10px rgb(218 129 187 / 33%);
        #border: solid 1px white;
        font-size: 6em;
    }

    .dropdown-content {
        #background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,1));
    }

}

@keyframes appear {
    0% {
        filter: blur(100px);
        opacity: 0;
    }
    50% {
        filter: blur(100px);
        opacity: 1;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}
